/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 #map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }
  
  #infowindow-content .title {
    font-weight: bold;
  }
  
  #infowindow-content {
    display: none;
  }
  
  #map #infowindow-content {
    display: inline;
  }
  
  .pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
  }
  
  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }
  
  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }
  
  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  
  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    /* margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px; */
    visibility: hidden;
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }
  
  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  #target {
    width: 345px;
  }

  .map-container {
      height: 400px;
  }

  .listRow {
    margin-top: 60px;
  }

  .headerBanner {
    background: #5e83a1;
    color: white;
    margin-bottom: 20px;
  }

  .servicesBox {
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
  }
  .serviceList {
    list-style-type: none;
    padding-left: 0;
  }

  .servicesBoxHeading h3 {
    background: #5e83a1;
    color: white;
    padding: 10px;
  }

  .servicesBoxHeading p {
    padding: 10px;
  }

  .listItem {
    background: rgb(219, 219, 219);
    cursor: pointer;
    padding: 10px;
  }

  .odd {
    background: rgb(243,243,243);
  }

  .highlighted {
    font-weight: 600;
  }

  .hidden {
    display: none;
  }

  .titleBold {
    font-weight: 600;
  }

  .contactButton {
    position: absolute;
    bottom: 0;
    right: 100px;
    padding: 20px;
    background: #c4ac3b;
    color: white;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
  }

  .suggestModalBackground {    
    display: flex;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    /* margin: 0 auto; */
    background: rgba(0,0,0,0.8);
    align-items: center;
    justify-content: center;
  }

  .foreground {
    width: 500px;
    background: white;
    color: black;
    padding: 20px;
  }

  .requestTitle {
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
  }

  .hideModal {
    display: none;
  }

  .buttonOverride {
    background: #c4ac3b !important;
    border: #c4ac3b !important;
  }


  .dropdownBtn {
    background: #5e83a1 !important;
    color: white !important;
    width: 100%;
    text-align: left !important;
    font-size: 1.2em !important;
    font-weight: 600 !important;
  }

  .custom-list-item {
    padding: 5px;
  }